@font-face {
    font-family: "Montserrat";
    font-style: bold;
    src: url("/Montserrat/static/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    src: url("/Montserrat/static/Montserrat-Regular.ttf");
}

:root {
    --background: #17171C;
    --text: #979797;
    --title: #FFFFFF;
    --dark-shadow: #000000;

    background-color: var(--background);
    font-family: "Montserrat";
    color: var(--text);
}
