---
import "../styles/global.css";
import SearchBar from "../components/SearchBar.astro";
---

<!docktype html>
<html>
	<body>
		<div id="search-bar-container">
			<SearchBar/>
		</div>
	</body>
	<style>
		#search-bar-container {
			width: 100%;
			height: 98vh;

			display: flex;
			align-items: center;
			justify-content: center;
		}
	</style>
</html>
