---
import "../styles/global.css";
import SearchBar from "../components/SearchBar.astro";
---

<!docktype html>
<html>
	<body>
		<div id="search-bar-container">
			<SearchBar/>
		</div>
	</body>
	<style>
		#search-bar-container {
			transform: translateX(25vw) translateY(25vh);
			width: 70vw;
		}
	</style>
</html>
