---
import "../styles/global.css";
import Result from "../components/Result.astro";
import SearchBarSmall from "../components/SearchBarSmall.astro";
---

<!docktype html>
<html>
    <body>
        <SearchBarSmall/>
        <div id="result-list">
            <Result title="Web Page" description="Lorem ipsum dolor sit amet haha this is terrible" score="100"/>
            <Result title="Web Page" description="Lorem ipsum dolor sit amet haha this is terrible" score="39"/>
            <Result title="Web Page" description="Lorem ipsum dolor sit amet haha this is terrible" score="19"/>
        </div>
    </body>

    <style>
        #result-list {
            display: flex;
            flex-direction: column;

            gap: 25px;

            margin: 25px;
        }
    </style>
</html>