---
// The displayer was taken from: https://codepen.io/leandroamato/pen/jOWqrGe
import "../styles/global.css";

const {
    score
} = Astro.props;

const COLORS = {
    80: {
        "dark": "#003E27",
        "light": "#0FEB3F",
    },
    30: {
        "dark": "#553F06",
        "light": "#FFE817",
    },
    0: {
        "dark": "#310000",
        "light": "#FF0000",
    }
}

let darkColor = "";
let lightColor = "";

Object.keys(COLORS).sort().reverse().forEach((color_limit) => {
    if (score >= color_limit && darkColor == "") {
        //@ts-ignore
        darkColor = COLORS[color_limit]["dark"];

        //@ts-ignore
        lightColor = COLORS[color_limit]["light"];
    }
});
---

<div id="outer-circle">
    <div id="inner-circle">
        <p id="score-text">{score}%</p>
    </div>
</div>

<style
    define:vars={{ score: `${score}%`, dark: darkColor, light: lightColor }}
>
    :root {
        --circle-width: 20px;
    }

    #score-text {
        color: var(--title);
        font-size: 32px;
        text-shadow: 0 0 3px var(--title);

        z-index: 2;
    }

    #outer-circle {
        border: var(--circle-width) solid var(--dark);
        border-radius: 50%;

        box-shadow: 0 0 15px 0 var(--dark), inset 0 0 15px 0 var(--dark);

        width: 100px;
        height: 100px;

        padding: 0;
        margin: 0;
    }

    #inner-circle {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        overflow: hidden;
        
        margin: calc(-1 * var(--circle-width));
        width: calc(100px + var(--circle-width) * 2);
        height: calc(100px + var(--circle-width) * 2);

        line-height: 1;

        background: conic-gradient(var(--light) var(--score), transparent 0 100%);
    }

    /* Bar mask, creates an inner circle with the same color as the background */
    #inner-circle::after {
        content: "";
        position: absolute;
        inset: var(--circle-width);
        background: var(--background);
        border-radius: inherit;
        z-index: 1;

        box-shadow: inset 0 0 15px 0 var(--dark);
    }
</style>
