---
---

<div id="main-container">
    <input type="text" id="query-input" spellcheck="false" autocomplete="off"/>
    <button id="search-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 16 16" id="search-icon">
            <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                <path d="m11.25 11.25l3 3"/>
                <circle cx="7.5" cy="7.5" r="4.75"/>
            </g>
        </svg>
    </button>
</div>

<style>
    :root {
        --intense-red: #FD0463;
    }

    #main-container {
        background-color: #15151A;
        box-shadow: 0 0 20px 15px #0f0f0f;

        border-radius: 50px;

        height: 50px;
        width: 810px;

        align-items: center;
        
        padding-left: 40px;
        padding-right: 30px;

        display: flex;

        padding-top: 0;
        padding-bottom: 0;

        margin: 25px;
        margin-top: 30px;

        margin-bottom: 50px;
    }

    #search-button {
        margin-left: auto;

        background: none;
        border: none;
        border-left: solid 1px white;
        padding-left: 5px;

        height: 38px;
        width: 40px;

        padding-left: 10px;
    }

    #query-input {
        margin: 0;

        height: 45px;
        width: calc(100% - 80px);

        background: none;
        border: none;

        outline: none;

        font-family: "Montserrat";
        font-size: 26px;
        color: white;
        caret-color: var(--intense-red);
    }

    #search-icon {
        color: var(--intense-red);

        width: 35px;
        height: 35px;

        transition: color 200ms, filter 100ms;
    }

    #search-icon:hover {
        color: #FF0000;
    }

    #search-icon:active {
        filter: blur(3px);
    }
</style>