---
---

<div id="main-container">
    <input type="text" id="query-input"/>
    <button id="search-button">
        <img src="/search-icon.svg" id="search-icon"/>
    </button>
</div>

<style>
    :root {
        --intense-red: #FD0463;
    }

    #main-container {
        background-color: #15151A;
        box-shadow: 0 0 30px 20px #000000;

        border-radius: 50px;

        height: 70px;
        max-width: 810px;

        align-items: center;
        
        padding-left: 40px;
        padding-right: 25px;

        display: flex;

        padding-top: 0;
        padding-bottom: 0;
    }

    #search-button {
        margin-left: auto;

        background: none;
        border: none;
        border-left: solid 1px white;
        padding-left: 5px;
    }

    #query-input {
        margin: 0;

        height: 45px;
        width: calc(100% - 80px);

        background: none;
        border: none;

        outline: none;

        font-family: "Montserrat";
        font-size: 26px;
        color: white;
        caret-color: var(--intense-red);
    }

    #search-icon {
        color: var(--intense-red);

        width: 36px;
        height: 36px;
    }
</style>